*.o

Becasso
source/add-ons/AutoContrast/AutoContrast
source/add-ons/Blur/Blur
source/add-ons/Brightness/Brightness
source/add-ons/BumpMap/BumpMap
source/add-ons/CaptureTest/CaptureTest
source/add-ons/Chromakey/Chromakey
source/add-ons/ColorCurves/ColorCurves
source/add-ons/Diffuse/Diffuse
source/add-ons/Gaussian/Gaussian
source/add-ons/Gradient/Gradient
source/add-ons/Mandelbrot/Mandelbrot
source/add-ons/MotionBlur/MotionBlur
source/add-ons/Negate/Negate
source/add-ons/Noise/Noise
source/add-ons/OilPaint/OilPaint
source/add-ons/Quantize/Quantize
source/add-ons/Ripple/Ripple
source/add-ons/Scale/Scale
source/add-ons/Sepia/Sepia
source/add-ons/Solarize/Solarize
source/add-ons/Tile/Tile
source/add-ons/VideoGrabber/VideoGrabber
source/add-ons/Wave/Wave
source/add-ons/WinGrab/WinGrab

